#!/usr/bin/env ruby

compile 'sitemap' do
  filter :haml
end

compile '*' do
  if item[:extension] == 'markdown'
    filter :kramdown, {:input => 'GFM', coderay_line_numbers: nil, enable_coderay: false}
    layout 'default'
  elsif item[:filename] == 'content/google590ffeacf2210e98.html'
    # Don't filter or layout
  elsif item[:extension] == 'css'
    # don't filter stylesheets
  elsif item[:extension] == 'js'
    # don't filter javascript
  elsif item[:extension] == 'txt'
    # don't filter text
  elsif item.binary?
    # don't filter binary items
  else
    filter :erb
    layout 'default'
  end
end

route '*' do
  if item[:extension] == 'css'
    # Write item with identifier /foo/ to /foo.css and fingerprint
    item.identifier.chop + fingerprint(item[:filename]) + '.' + "css"
  elsif item[:extension] == 'js'
    item.identifier.chop + '.' + "js"
  elsif item[:extension] == 'txt'
    item.identifier.chop + '.' + "txt"
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + (item[:extension] ? '.' + item[:extension] : '')
  elsif item[:filename] == "content/sitemap.xml"
    item.identifier.chop + '.xml'
  elsif item[:filename] == "content/google590ffeacf2210e98.html"
    item.identifier.chop + ".html"
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
