#!/usr/bin/env ruby

compile 'sitemap' do
  filter :haml
end

compile '*' do
  if item[:extension] == 'markdown'
    filter :kramdown
    layout 'default'
  elsif item[:extension] == 'css'
    # don't filter stylesheets
  elsif item.binary?
    # don't filter binary items
  else
    filter :erb
    layout 'default'
  end
end

route '*' do
  if item[:extension] == 'css'
    # Write item with identifier /foo/ to /foo.css and fingerprint
    item.identifier.chop + fingerprint(item[:filename]) + '.' + "css"
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + (item[:extension] ? '.' + item[:extension] : '')
  elsif item[:filename] == "content/sitemap.xml"
    item.identifier.chop + '.xml'
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
