* {
  margin: 0;
  padding: 0;
}

*, :not(code), :not(pre), :not(.hljs)) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background: #fefefe;
  max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	color: 050505;
}

a, span.active {
  text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
  color: #1693A5;
}

a:hover {
  color: #F02311;
}


pre {
	padding: 1em;
	background: #eee;
	max-width: 600px;
}

code {
  word-wrap: break-word;
  font-family: Consolas, Monaco, 'Lucida Console', monospace;
  font-size: 1em;
	line-height: 1.2em;
	color: #a8170b;
}

#main p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  max-width: 600px;
}

#main h1 {
  font-size: 1.45em;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0.75em;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

nav {
  margin-bottom: 1.5em;
}

#topbar ul {
  list-style-type: none;
  display: inline-block;
}

#topbar h2 {
  display: inline-block;
  padding-right: 1em;
}
#logo {
  font-family: Georgia, Palatino, serif;
}

#topbar li {
  display: inline-block;
  margin-right: 1em;
}

h2 a:link,
h2 a:visited {
  color: #0E0E0e;
}

h2 a:hover {
  color: #FBB829;
}

#botbar {

  padding-left: 20px

}

#botbar h2 {
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;

  line-height: 20px;
}


#botbar ul {
  list-style-type: none;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

/* highlight.js stuff */

.hljs {
  font-family: Consolas, Monaco, 'Lucida Console', monospace;
  display: block;
  overflow-x: auto;
	background: #eee;
	color: #111;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.lisp .hljs-string {
  color: #586e75;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-list .hljs-keyword,
.nginx .hljs-title {
  color: #a8170b;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor {
	color: #1693A5;
}

.hljs-title,
.hljs-localvars,
.hljs-function .hljs-title,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.hljs-name,
.hljs-id {
	color: #ffb03b;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type {
  color: #b58900;
}

.css .hljs-attribute {
  color: #b89859;
}

.css .hljs-number,
.css .hljs-hexcolor {
  color: #dccf8f;
}

.css .hljs-class {
  color: #d3a60c;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-important,
.hljs-subst,
.hljs-cdata {
  color: #1693A5;
}

.hljs-deletion {
  color: #dc322f;
}

.tex .hljs-formula {
  background: #073642;
}
